@charset "utf-8";

.question{
    text-align: center;
}

.inquiry{
    background-color: #FFFFFF;
    text-align: center
}

.box {
    padding: 0.5em 1em;
    margin: 2em 10em;
    font-weight: bold;
    border: solid 3px #000000;
}
.box p {
    margin: 0; 
    padding: 0;
}
.con_title{
    text-align: center;
}
#con_tel_box{
    display: grid;
    grid-template-columns: 2fr 2fr;
    border: #707070 solid 1px;
    width: 50rem;
    margin-left: 18%;
}
#con_tel_box p{
    font-size: 80%;
}
#con_btn{
    width: 13rem;
    height: 4rem;
    background-color: white;
    border: #707070 1px solid;
    font-size: 1.5rem;
    color: #707070;
}
#form_box{
    border: #707070 solid 1px;
    background-color: white;
}
#tel_box{
    display: grid;
    border: #707070 solid 1px;
    background-color: white;
}
.form_txt{
    width: 80%;
    margin-left: 20%;
    margin-top: 25%;
}
.form_txt #mail{
    width: 3rem;
    height: 3rem;
}
.tel_txt{
    margin-left: 3rem;
}
.tel_txt #tel{
    float: right;
    font-size: 100%;
   font-weight: bold;
   margin-right: 3rem;
}
.tel_txt #time{
    font-size: 100%;
}
.tel_txt #ant{
    font-size: 40%;
}
a{
    color:inherit;
    text-decoration:none;
}