@charset "utf-8";
/* ---変数--- */
:root {
    --color_title: #013B58;
    --color_bg: #FFFFFF;
    --color_blue_light1: #B8E8F9;
    --color_blue_light2: #EAF8FD;
    --color_drop: #4CBDE9;
    --color_button: #FEEAB3;
    --color_purple: #D8D3FA;
    --color_logo: #008409;
    --color_body: #707070;
    /* 70 */
    --font_size_1: 2.8rem;
    /* 60 */
    --font_size_2: 2.4rem;
    /* 50 */
    --font_size_3: 2rem;
    /* 40 */
    --font_size_4: 1.6rem;
    /* 35 */
    --font_size_5: 1.4rem;
    /* 25 */
    --font_size_p: 1rem;

    --font_family_HG: "HG明朝E", serif;

    --breakPoint_xs: 320;
    --breakPoint_s: 480;
    --breakPoint_m: 768; 
    --breakPoint_l: 1024; 

}

/* ---ホームCSS--- */
#index .main h1 {
    color: var(--color_title);
}

/* --ホーム　会社概要-- */
#index .main {
    margin-top: 8.7vh;
}

#index .company_profile {
    display: flex;
    position: relative;
    padding-bottom: 8.2vh;
}

#index .company_profile h1,
#index .company_profile p {
    margin-left: 5.625vw;
}

#index .company_profile .chachikopi {
    font-size: var(--font_size_3);
}

#index .company_profile div .introduction {
    height: 27.2vh;
    width: 41.6vw;
    margin-top: 1.2vh;
    margin-bottom: 11.4vh;
    word-wrap: break-word;
}

/* ボタン */
/*== 外の線が伸びる */
#index .btnlinestretches{
    /*線の基点とするためrelativeを指定*/
    position:relative;
    /*ボタンの形状*/
    color: var(--color_body);
    border:1px solid var(--color_title);
    padding: 1.4vh 3.3vw; 
    display:inline-block;
    outline: none;
    /*アニメーションの指定*/
    transition:all 0.3s ease-in-out;
    /* 位置調整 */
    margin-left: 6.2vw;
}

/*hoverした際の背景の形状*/
#index .btnlinestretches:hover{
    background:var(--color_title);
    color: var(--color_bg);
    border-color:transparent;
}

/*線の設定*/
#index .btnlinestretches::before,
#index .btnlinestretches::after {
    content:'';
    /*絶対配置で線の位置を決める*/   
    position:absolute;
    border:solid var(--color_title);
    width:0.5vw;
    height:0.9vh;
    /*アニメーションの指定*/
    transition:all 0.3s ease-in-out;
}

/*線の位置と形状*/
#index .btnlinestretches::before{
    top:-0.5vh;
    left:-0.3125vw;
    border-width: 1px 0 0 1px;
}

/*線の位置と形状*/
#index .btnlinestretches::after{
    bottom:-0.5vh;
    right:-0.3125vw;
    border-width: 0 1px 1px 0;
}

/*hoverした際の線の形状*/
#index .btnlinestretches:hover::before,
#index .btnlinestretches:hover::after{
    width:calc(100% + 0.5vw);
    height:calc(100% + 1vh);
    border-color:#666;
}
/* --ボタンend-- */

#index .company_profile .picture .img1 {
    position: absolute;
    width: 32.1vw;
    height: 40.3vh;
    top: 13.1vh;
    left: 62.1vw;
    object-fit: contain;
}

#index .company_profile .picture .img2 {
    position: absolute;
    width: 17.6vw;
    height: 27.8vh;
    top: 35.7vh;
    left: 51.9vw;
    object-fit: contain;
}

#index .company_profile .picture .box {
    position: absolute;
    width: 28.1vw;
    height: 37.3vh;
    background-color: var(--color_blue_light2);
    top: 22.68vh;
    left: 54.7vw;
    z-index: -2;
}

@media screen and (max-width: 480px) {
    #index .main {
        margin-top: 1.7vh;
    }
    
    #index .company_profile {
        display: initial;
        position: initial;
        padding-bottom: 8.2vh;
        /* ue 
        kakuninn
         */
    }

    #index .company_profile h1 {
        font-size: 2.5rem;
    }
    
    #index .company_profile h1,
    #index .company_profile p {
        margin-left: 7.9vw;
    }
    
    #index .company_profile .chachikopi {
        font-size: 1.7rem;
    }
    
    #index .company_profile div .introduction {
        height: 18.3vh;
        width: 82vw;
        word-wrap: break-word;
        margin-top: 0;
        margin-bottom: 0.7vh;
        margin-left: 10vw;
    }
    
    /* ボタン */
    #index .btnlinestretches:not(){}

    #index .btnlinestretches {
        color: var(--color_body);
        background-color: var(--color_bg);
        border: 1px solid var(--color_title);
        padding: 0.5vh 6.4vw; 
        display: inline-block;
        margin-bottom: 1.3vh;
        margin-left: 8.9vw;
    }
    /* --ボタンend-- */

    #index .company_profile .picture {
        position: relative;
        width: 82.5vw;
        height: 24.8vh;
        margin-left: 8.7vw;
    }
    
    #index .company_profile .picture .img1 {
        position: absolute;
        width: 61vw;
        height: 19.9vh;
        top: 0;
        left: 21.5vw;
        object-fit: cover;
    }
    
    #index .company_profile .picture .img2 {
        position: absolute;
        width: 33.3vw;
        height: 13.7vh;
        top: 11.1vh;
        left: 0;
        object-fit: cover;
    }
    
    #index .company_profile .picture .box {
        position: absolute;
        width: 53.3vw;
        height: 18.4vh;
        top: 4.6vh;
        left: 11.2vw;
    }
}

/* --ホーム　会社概要 end-- */

/* ホーム　事業内容 */
#index .business_content {
    padding-left: 5.625vw;
    padding-bottom: 4.5vh;
}

#index .business_content h2 {
    padding-bottom: 2.4vh;
}

#index .business_content .construction_example img {
    border: 1px solid var(--color_body);
}

#index .business_content .construction_example .upper_side {
    padding-bottom: 3.7vh;
}

#index .business_content .construction_example .upper_side img {
    width: 25.8vw;
    /* height: 34.2vh; */
    object-fit: contain;
}

#index .business_content .construction_example .upper_side .left {
    margin-left: 1.8vw;
}

#index .business_content .construction_example .upper_side .center {
    margin-left: 3.8vw;
    margin-right: 3.8vw;
}

#index .business_content .construction_example .upper_side .right {
    margin-right: 1.8vw;
}

#index .business_content .construction_example .lower_side img {
    width: 40.3vw;
    /* height: 23.1vh; */
    object-fit: contain;
}

#index .business_content .construction_example .lower_side .left {
    margin-left: 2.1875vw;
    margin-right: 1.875vw;
}

#index .business_content .construction_example .lower_side .right {
    margin-left: 1.875vw;
    margin-right: 2.1875vw;
}

/* 事業内容　ボタン */
#index .business_content .button {
    text-align: center;
    padding-right: 5.625vw;
}

#index .business_content .button a {
    display: inline-block;
    padding: 2.36vh 9.2vw;
    margin-top: 2.5vh;
    margin-bottom: 3.3vh;
    border: 1px solid var(--color_body);
    font-size: 1.2rem;
}

/* ボタンend */
#index .actual_introduction .flex {
    display: flex;
    text-align: center;
    padding-bottom: 3.6vh;
}

#index .actual_introduction .flex img {
    width: 18.2vw;
    height: 37.2vh;
    object-fit: contain;
}

#index .actual_introduction .flex p {
    font-size: var(--font_size_5);
}

#index .actual_introduction .flex .left1 {
    margin-left: 4.4vw;
    margin-right: 1.17vw;
}

#index .actual_introduction .flex .left2,
#index .actual_introduction .flex .right1 {
    margin-left: 1.17vw;
    margin-right: 1.17vw;
}

#index .actual_introduction .flex .right2 {
    margin-left: 1.17vw;
    margin-right: 4.4vw;
}


@media screen and (max-width: 480px) {
    /* ホーム　事業内容 */
    #index .business_content {
        padding: 2.6vh;
        padding-left: 7.9vw;
        padding-bottom: 4.3vh;
    }

    #index .business_content h1 {
        font-size: 2.5rem;
    }

    #index .business_content h2 {
        padding-bottom: initial;
    }

    #index .business_content .construction_example h2 {
        font-size: 2.1rem;
    }

    #index .business_content .construction_example .upper_side {
        padding-bottom: initial;
        display: block;
        margin-left: 2.5vw;
    }

    #index .business_content .construction_example .upper_side img {
        width: 79.2vw;
        height: 17.4vh;
        object-fit: cover;
        margin-bottom: 3vh;
    }

    #index .business_content .construction_example .upper_side .left {
        margin-left: 0;
    }

    #index .business_content .construction_example .upper_side .center {
        margin-left: 0;
        margin-right: 0;
    }

    #index .business_content .construction_example .upper_side .right {
        margin-left: 0;
        margin-right: 0;
    }

    #index .business_content .construction_example .lower_side {
        padding-bottom: initial;
        display: block;
        margin-left: 2.3vw;
    }

    #index .business_content .construction_example .lower_side img {
        width: 79.7vw;
        height: 11.8vh;
        object-fit: cover;
    }

    #index .business_content .construction_example .lower_side .left {
        margin-bottom: 3vh;
        margin-left: 0;
        margin-right: 0;
    }

    #index .business_content .construction_example .lower_side .right {
        margin-bottom: 2.4vh;
        margin-left: 0;
        margin-right: 0;
    }

    /* 事業内容　ボタン */
    #index .business_content .button {
        padding-right: 0;
    }

    #index .business_content .button a {
        padding: 1.2vh 19.4vw;
        margin-top: 2.4vh;
        margin-bottom: 2.7vh;
        border: 1px solid var(--color_body);
        font-size: 1.2rem;
    }
    /* ボタンend */

    #index .actual_introduction .flex {
        display: initial;
        text-align: center;
        padding-bottom: 3.6vh;
    }
    
    #index .actual_introduction .flex img {
        width: 18.2vw;
        height: 37.2vh;
        object-fit: contain;
    }
    
    #index .actual_introduction .flex p {
        font-size: var(--font_size_5);
    }
    
    #index .actual_introduction .flex .left1 {
        margin-left: 4.4vw;
        margin-right: 1.17vw;
    }
    
    #index .actual_introduction .flex .left2,
    #index .actual_introduction .flex .right1 {
        margin-left: 1.17vw;
        margin-right: 1.17vw;
    }
    
    #index .actual_introduction .flex .right2 {
        margin-left: 1.17vw;
        margin-right: 4.4vw;
    }
}





/* ホーム　採用情報 */
#index .recruitment_info {
    position: relative;
    width: 90.5vw;
    height: 73.2vh;
    margin-left: 4.7vw;
    margin-right: 4.7vw;
    margin-bottom: 8vh;
}

#index .recruitment_info h1 {
    padding-bottom: 2.6vh;
    padding-left: 0.8vh;
}

#index .recruitment_info .container {
    display: flex;
    position: absolute;
}

#index .recruitment_info .container .item {
    position: absolute;
    top: 5.3vh;
    width: 35.4vw;
    height: 50.5vh;
    border: 1px solid var(--color_body);
    background-color: var(--color_bg);
    z-index: 10;
}

#index .recruitment_info .container .item h2 {
    padding-top: 4.9vh;
    padding-bottom: 1.2vh;
    padding-left: 2.9vw;
}

#index .recruitment_info .container .item p {
    font-size: var(--font_size_5);
    padding-bottom: 5.2vh;
    padding-left: 4.4vw;
}

#index .recruitment_info .container .item a {
    display: inline-block;
    padding: 2.6vh 6.25vw;
    border: 1px solid var(--color_body);
    font-size: var(--font_size_4);
    margin-left: 4.4vw;
    margin-bottom: 6.6vh;
}

#index .recruitment_info .container img {
    position: absolute;
    left: 29.7vw;
    width: 60.8vw;
    height: 61.3vh;
    object-fit: contain;
}
/* ホーム　採用情報end */
/* ホーム　ニュース */
#index .news {
    padding-bottom: 10.5vh;
    padding-left: 5.625vw;
    padding-right: 5.625vw;
}

#index .news h1 {
    padding-bottom: 2.2vh;
}

#index .news .container {
    padding-bottom: 0.8vh;
}

#index .news .container .item {
    display: flex;
    width: 77.1vw;
    margin-bottom: 1.8vh;
    margin-left: 5.7vw;
    padding: 1.8vh 1.5vw;
    border: 1px solid var(--color_body);
    background-color: var(--color_bg);
}

#index .news .container .item p {
    font-size: 1.2rem;
}

#index .news .container .item p:nth-of-type(1) {
    padding: 0.8vh 0px;
    padding-right: 2.1875vw;
}

#index .news .container .item p:nth-of-type(2) {
    padding: 0.8vh 1.9vw;
    margin-right: 1.4vw;
    border: 1px solid var(--color_body);
}

#index .news .container .item a {
    font-size: var(--font_size_5);
    padding: 0.5vh 0px;
}

#index .news .button {
    text-align: center;
}

#index .news .button a {
    display: inline-block;
    padding: 2.5vh 13.4vw;
    font-size: var(--font_size_4);
    border: 1px solid var(--color_body);
}
/* ホーム　ニュースend */
/* ホーム　アクセス */
#index .access {
    padding-left: 5.625vw;
    padding-right: 5.625vw;
}

#index .access h1 {
    padding-bottom: 6.2vh;
}

#index .access .container {
    display: flex;
    padding-left: 8.8vw;
    margin-bottom: 12.8vh;
}

#index .access .information {
    border: 1px solid var(--color_body);
}

#index .access .information img {
    width: 33.6vw;
    height: 31.8vh;
    object-fit: cover;
}

#index .access .container .information p {
    font-size: var(--font_size_5);
}

#index .access .container .information p:nth-of-type(1) {
    padding-top: 1.2vh;
    padding-left: 1.1vw;
}

#index .access .container .information p:nth-of-type(2) {
    padding-top: 0.1vh;
    padding-bottom: 1.2vh;
    padding-left: 4.7vw;
}

#index .access .container .information p:nth-of-type(3),
#index .access .container .information p:nth-of-type(4) {
    padding-left: 1.1vw;
}

#index .access .container .information p:nth-of-type(4) {
    padding-top: 1.2vh;
    padding-bottom: 1.9vh;
}

#index .access div .map {
    width: 43.5vw;
    height: 55.8vh;
}

/* ホーム　アクセスend */
/* ホーム　お問い合わせ */
#index .inquiry {
    text-align: center;
    /* padding-bottom: 16.4vh; */
}

#index .inquiry h1 {
    padding-bottom: 3.3vh;
}

#index .inquiry .container {
    display: flex;
    margin-left: 11.4vw;
    margin-right: 11.4vw;
    background-color: var(--color_bg);
}

#index .inquiry .container .form_link,
#index .inquiry .container .information {
    width: 38.5vw;
    height: 33.9vh;
    border: 1px solid var(--color_body);
}

#index .inquiry .container .form_link .title {
    font-size: var(--font_size_5);
    padding-top: 9vh;
    padding-bottom: 0.4vh;
}

#index .inquiry .container .form_link .item {
    display: flex;
    padding-left: 6.875vw;
}

#index .inquiry .container .form_link .item p {
    padding-top: 2vh;
}

#index .inquiry .container .form_link .item .mail_icon {
    color: var(--color_title);
    font-size: 3rem;
    padding-right: 0.625vw;
}


#index .inquiry .container .form_link a {
    display: inline-block;
    color: var(--color_bg);
    background-color: var(--color_title);
    font-size: var(--font_size_4);
    padding: 2.7vh 3.8vw;
    border: 1px solid var(--color_title);

}

#index .inquiry .container .form_link a:hover {
    color: var(--color_title);
    background-color: var(--color_bg);
}

#index .inquiry .container .information {
    text-align: left;
    padding-top: 4.1vh;
    padding-left: 5.2vw;
}

#index .inquiry .container .information p:nth-child(1),
#index .inquiry .container .information p:nth-child(3) {
    font-size: var(--font_size_5);
}

#index .inquiry .container .information p:nth-child(3) {
    padding-top: 0.8vh;
}

#index .inquiry .container .information p:nth-child(4),
#index .inquiry .container .information a {
    font-size: var(--font_size_3);
    padding-left: 2.9vw;
}

#index .inquiry .container .information p:nth-child(5) {
    font-size: 0.8rem;
}
/* ホーム　お問い合わせend */

@media screen and (max-width: 480px) { /*ウィンドウ幅が最大までの場合に適用*/


}