@charset "utf-8";
/* CSS Document */
/* 共通部分 */
/* ---変数--- */
:root {
    --color_title: #013B58;
    --color_bg: #FFFFFF;
    --color_blue_light1: #B8E8F9;
    --color_blue_light2: #EAF8FD;
    --color_drop: #4CBDE9;
    --color_button: #FEEAB3;
    --color_purple: #D8D3FA;
    --color_logo: #008409;
    --color_body: #707070;
    /* 70 */
    --font_size_1: 2.8rem;
    /* 60 */
    --font_size_2: 2.4rem;
    /* 50 */
    --font_size_3: 2rem;
    /* 40 */
    --font_size_4: 1.6rem;
    /* 35 */
    --font_size_5: 1.4rem;
    /* 25 */
    --font_size_p: 1rem;

    --font_family_HG: " ", serif;

}
/* --共通部分ここまで-- */

/* --会社概要-- */
#project {
    margin-bottom: 14.3vh;
    /* margin-top: 8.7vh; */
    margin-top: 10vh;
}
#project .achievements {
    margin-top: 18px;
    margin-bottom: 1.6vh;
}

/* 実績 */
#project .achievements h1 {
    text-align: center;
    padding-bottom: 4vh;
}

#project .achievements .container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5vh;
    /* padding-left: 93px; */
}

#project .achievements .container .item {
    width: 28vw;
    height: 59.3vh;
    border: 1px solid var(--color_body);
}

#project .achievements .container .item:nth-child(2) {
    margin-left: 3.125vw;
    margin-right: 3.125vw;
}

#project .achievements .container .item img {
    width: 22.6vw;
    height: 29.6vh;
    margin-top: 5vh;
    margin-bottom: 0.3vh;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
    object-fit: contain;
}

#project .achievements .container .item p:nth-child(2),
#project .achievements .container .item p:nth-child(3),
#project .achievements .container .item p:nth-child(4) {
    padding-left: 2.6vw;
}

#project .achievements .container .item p:nth-child(2),
#project .achievements .container .item p:nth-child(3) {
    font-size: var(--font_size_5);
}

#project .achievements .container .item p:nth-child(4) {
    font-size: 1.2rem;
    /* font-family: "Segoe UI"; */
    padding-top: 1.1vh;
}

#project .achievements .container .item a {
    font-size: 2.56rem;
    /* font-family: "Segoe UI"; */
    padding-bottom: 1.4vh;
    padding-left: 21.9vw;
}

/* 施工例 */
#project .construction_example {
    text-align: center;
    margin-bottom: 6.5vh;
}

#project .construction_example h1 {
    padding-bottom: 6.5vh;
}

#project .construction_example div {
    display: flex;
    justify-content: center;
}

#project .construction_example div img {
    border: 1px solid var(--color_body);
    object-fit: contain;
}

#project .construction_example .upper_side {
    padding-bottom: 3.7vh;
}

#project .construction_example .upper_side img {
    width: 25.8vw;
    object-fit: contain;
}

#project .construction_example .upper_side .left {
    margin-left: 1.8vw;
}

#project .construction_example .upper_side .center {
    margin-left: 3.8vw;
    margin-right: 3.8vw;
}

#project .construction_example .upper_side .right {
    margin-right: 1.8vw;
}

#project .construction_example .lower_side img {
    width: 40.3vw;
    object-fit: contain;
}

#project .construction_example .lower_side .left {
    margin-left: 2.1vw;
    margin-right: 1.875vw;
}

#project .construction_example .lower_side .right {
    margin-left: 1.875vw;
    margin-right: 2.1vw;
}

/* ボタン */
#project .construction_example .button {
    text-align: center;
}

#project .construction_example .button a {
    display: inline-block;
    padding: 2.3vh 9.2vw;
    margin-top: 4.3vh;
    border: 1px solid var(--color_body);
    font-size: 1.2rem;
}

/* お問い合わせ */
#project .contact {
    text-align: center;
}

#project .contact h1 {
    padding-bottom: 3.3vh;
}

#project .contact .container {
    display: flex;
    margin-left: 11.4vw;
    margin-right: 11.4vw;
}

#project .contact .container .form_link,
#project .contact .container .information {
    width: 38.5vw;
    height: 33.9vh;
    border: 1px solid var(--color_body);
}

#project .contact .container .form_link .title {
    font-size: var(--font_size_5);
    padding-top: 9vh;
    padding-bottom: 0.4vh;
}

#project .contact .container .form_link .item {
    display: flex;
    padding-left: 6.875vw;
}

#project .contact .container .form_link .item p {
    padding-top: 2vh;
}

#project .contact .container .form_link .item .mail_icon {
    color: var(--color_title);
    font-size: 3rem;
    padding-right: 0.625vw;
}


#project .contact .container .form_link a {
    display: inline-block;
    color: var(--color_bg);
    background-color: var(--color_title);
    font-size: var(--font_size_4);
    padding: 2.7vh 3.8vw;
    border: 1px solid var(--color_title);
}

#project .contact .container .form_link a:hover {
    color: var(--color_title);
    background-color: var(--color_bg);
}

#project .contact .container .information {
    text-align: left;
    padding-top: 4.1vh;
    padding-left: 5.2vw;
}

#project .contact .container .information p:nth-child(1),
#project .contact .container .information p:nth-child(3) {
    font-size: var(--font_size_5);
}

#project .contact .container .information p:nth-child(3) {
    padding-top: 0.8vh;
}

#project .contact .container .information p:nth-child(4),
#project .contact .container .information a {
    font-size: var(--font_size_3);
    padding-left: 2.9vw;
}

#project .contact .container .information p:nth-child(5) {
    font-size: 0.8rem;
}
/* --会社概要end-- */